.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.App-footer {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .App-main {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
